@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");
@font-face {
  font-family: "GmarketSansMedium";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "establishRetrosansOTF";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2112@1.0/establishRetrosansOTF.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "DungGeunMo";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/DungGeunMo.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
.hidden {
  display: none;
}

* {
  box-sizing: border-box;
}

body {
  width: 100%;
  min-width: 1920px;
  height: 100vh;
  min-height: 937px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("img/bg_cloud.jpg");
  background-size: cover;
  font-family: "GmarketSansMedium";
}

input {
  font-family: "GmarketSansMedium";
  font-size: 15px;
  text-align: center;
}

input:focus {
  background-color: white !important;
  border: none;
  outline: 7px solid gold !important;
}

input:focus::-moz-placeholder {
  color: transparent;
}

input:focus:-ms-input-placeholder {
  color: transparent;
}

input:focus::placeholder {
  color: transparent;
}

input::placeholder,
input::-webkit-input-placeholder {
  font-family: "GmarketSansMedium";
  font-size: 15px;
  text-align: center;
}

button {
  font-family: "GmarketSansMedium";
}

main {
  width: 70%;
  height: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  border-radius: 20px;
  border-top-right-radius: 0px;
  box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
  background-color: rgba(255, 255, 255, 0.3);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
}
main header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  position: absolute;
  top: -35px;
  padding: 0px 25px;
  font-family: "DungGeunMo";
  font-size: 25px;
}
main header div {
  display: flex;
  align-items: flex-end;
}
main header div img {
  margin: 0px 10px;
}
main .wrap {
  width: 97%;
  height: 95%;
  display: grid;
  grid-template-columns: 0.9fr 2fr 1fr;
  grid-template-rows: 3.8fr 6.2fr;
}
main .wrap section.profile {
  grid-column: 1/2;
  grid-row: 1/2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
main .wrap section.profile .profile-thumbnail {
  width: 120px;
  height: 120px;
  position: relative;
  margin-bottom: 10px;
}
main .wrap section.profile .profile-thumbnail img {
  width: 120px;
  height: 120px;
  border-radius: 50%;
}
main .wrap section.profile .profile-thumbnail input {
  display: none;
}
main .wrap section.profile .profile-thumbnail i {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 10px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.5);
  font-size: 13px;
  cursor: pointer;
}
main .wrap section.profile #nickname-form {
  width: 120px;
}
main .wrap section.profile #nickname-form input#nickname-input {
  width: inherit;
  padding: 10px;
  padding-bottom: 5px;
  border: none;
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 20px;
}
main .wrap section.profile #nickname-form input#nickname-input:focus {
  outline: none;
}
main .wrap section.profile #nickname-form ::-moz-placeholder {
  font-family: "GmarketSansMedium";
  text-align: center;
}
main .wrap section.profile #nickname-form :-ms-input-placeholder {
  font-family: "GmarketSansMedium";
  text-align: center;
}
main .wrap section.profile #nickname-form ::placeholder {
  font-family: "GmarketSansMedium";
  text-align: center;
}
main .wrap section.profile h1#nickname-display {
  margin-top: 15px;
}
main .wrap section.searchmap {
  grid-column: 1/2;
  grid-row: 2/-1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
main .wrap section.searchmap #map {
  width: 250px;
  height: 250px;
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.5);
}
main .wrap section.searchmap #searchmap-form {
  margin-top: 20px;
}
main .wrap section.searchmap #searchmap-form input[type=text] {
  width: 220px;
  padding: 10px;
  padding-bottom: 5px;
  border: none;
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 20px;
}
main .wrap section.searchmap #searchmap-form input[type=text]:focus {
  outline: none;
}
main .wrap section.searchmap #searchmap-form ::-moz-placeholder {
  font-family: "GmarketSansMedium";
  text-align: center;
}
main .wrap section.searchmap #searchmap-form :-ms-input-placeholder {
  font-family: "GmarketSansMedium";
  text-align: center;
}
main .wrap section.searchmap #searchmap-form ::placeholder {
  font-family: "GmarketSansMedium";
  text-align: center;
}
main .wrap section.google {
  width: 100%;
  height: 100%;
  grid-column: 2/3;
  grid-row: 1/2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
main .wrap section.google #google-form {
  width: 80%;
  height: 30%;
}
main .wrap section.google #google-form input[type=text] {
  width: 100%;
  height: 100%;
  padding: 30px;
  border: none;
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.3);
  font-size: 20px;
}
main .wrap section.google #google-form input[type=text]:focus {
  outline: none;
}
main .wrap section.google #google-form ::-moz-placeholder {
  font-family: "GmarketSansMedium";
  font-size: 20px;
  text-align: center;
}
main .wrap section.google #google-form :-ms-input-placeholder {
  font-family: "GmarketSansMedium";
  font-size: 20px;
  text-align: center;
}
main .wrap section.google #google-form ::placeholder {
  font-family: "GmarketSansMedium";
  font-size: 20px;
  text-align: center;
}
main .wrap section.youtube {
  width: 100%;
  height: 85%;
  grid-column: 2/3;
  grid-row: 2/-1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
main .wrap section.youtube .youtube-box {
  position: relative;
  width: 80%;
  padding-bottom: 56.25%;
  height: 0;
}
main .wrap section.youtube .youtube-box iframe,
main .wrap section.youtube .youtube-box object,
main .wrap section.youtube .youtube-box embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
main .wrap section.todo {
  width: 100%;
  height: 100%;
  grid-column: 3/-1;
  grid-row: 1/-1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
main .wrap section.todo #todo-form {
  width: 90%;
  height: 50px;
  margin-top: 20px;
}
main .wrap section.todo #todo-form input[type=text] {
  width: 100%;
  height: 100%;
  border: none;
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.3);
  font-size: 15px;
}
main .wrap section.todo #todo-form input[type=text]:focus {
  outline: none;
}
main .wrap section.todo #todo-form ::-moz-placeholder {
  font-family: "GmarketSansMedium";
  font-size: 15px;
  text-align: center;
}
main .wrap section.todo #todo-form :-ms-input-placeholder {
  font-family: "GmarketSansMedium";
  font-size: 15px;
  text-align: center;
}
main .wrap section.todo #todo-form ::placeholder {
  font-family: "GmarketSansMedium";
  font-size: 15px;
  text-align: center;
}
main .wrap section.todo ul#todo-list {
  width: 90%;
  height: 80%;
  padding: 7% 5%;
  overflow-y: auto;
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.3);
}
main .wrap section.todo ul#todo-list li {
  height: 50px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
  padding: 18px;
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.5);
  font-size: 14px;
  cursor: pointer;
}
main .wrap section.todo ::-webkit-scrollbar {
  display: none;
}
main .background {
  position: absolute;
  top: 0px;
  right: -38px;
  padding: 10px;
  border: none;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  background-color: white;
  letter-spacing: 5px;
  z-index: -1;
  cursor: pointer;
}
main .background span {
  -ms-writing-mode: tb-lr;
      writing-mode: vertical-lr;
  text-orientation: upright;
}
main #bg-cloudBtn {
  top: 117.66px;
  background-color: #1c7ab7;
  color: white;
}

#exit {
  position: fixed;
  top: -13px;
  right: 5%;
  border: none;
  background: none;
  cursor: pointer;
}

#fortune {
  width: 100px;
  height: 100px;
  position: fixed;
  bottom: 5%;
  right: 5%;
  border: none;
  background: none;
  cursor: pointer;
}
#fortune button:focus {
  outline: none;
}
#fortune img {
  width: 100px;
  height: 100px;
}

#openMsg {
  position: fixed;
  bottom: calc(5% + 20px);
  right: calc(5% + 100px);
  text-align: right;
}/*# sourceMappingURL=style.css.map */