@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");

@font-face {
  font-family: "GmarketSansMedium";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "NeoDunggeunmo";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.3/NeoDunggeunmo.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

:root {
  --opaque: rgba(255, 255, 255, 0.3);
  --outline: 5px solid gold;
}

* {
  box-sizing: border-box;
}

body {
  min-width: 1280px;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("img/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "GmarketSansMedium";
  font-size: 16px;
}

a {
  color: inherit;
  text-decoration: none;
}

button,
input {
  font-family: inherit;
  font-size: inherit;
  border: none;
  outline: none;
}

button:focus-visible {
  outline: var(--outline);
}

input {
  text-align: center;
  background: var(--opaque);
  border-radius: 20px;
  padding: 10px;
  padding-bottom: 9px;

  &:focus {
    background-color: white;
    outline: var(--outline);

    &::placeholder {
      opacity: 0;
    }
  }
}

.hidden {
  display: none;
}

.app {
  width: 70%;
  margin: 64px auto;
  position: relative;

  @media screen and (max-width: 1919px) {
    width: 90%;
  }
}

header {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 0 40px 10px;
  font-family: "NeoDunggeunmo";
  font-size: 24px;

  #weather {
    img {
      margin: 0 10px;
      vertical-align: bottom;
    }
  }
}

main {
  display: grid;
  grid-template-areas:
    "profile search todo"
    "map youtube todo";
  grid-template-columns: 1fr 2fr 1fr;
  padding: 40px 20px;
  background: var(--opaque);
  backdrop-filter: blur(10px);
  border-radius: 20px;
  border-top-right-radius: 0px;
  position: relative;

  .profile {
    grid-area: profile;
  }

  .map {
    grid-area: map;
  }

  .search {
    grid-area: search;
  }

  .youtube {
    grid-area: youtube;
  }

  .todo {
    grid-area: todo;
  }
}

.grid {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

// 프로필 사진 + 닉네임
.profile {
  .profile-photo {
    position: relative;

    img {
      width: 120px;
      border-radius: 50%;
      object-fit: cover;
      display: block;
    }

    label {
      position: absolute;
      bottom: 0;
      right: 0;

      i {
        background: var(--opaque);
        border-radius: 50%;
        padding: 10px;
        cursor: pointer;
      }
    }
  }

  #profile-nickname-form,
  #profile-nickname-display {
    margin-top: 20px;
  }

  #profile-nickname-form {
    input {
      width: 210px;
    }
  }
}

// 지도 검색
.map {
  #kakao-map {
    width: 250px;
    height: 250px;
    border-radius: 20px;

    .custom-overlay {
      display: flex;
      align-items: flex-start;
      background-color: white;
      border: 1px solid gray;
      padding: 15px 10px 10px;

      .text-container {
        display: flex;
        flex-direction: column;
        gap: 5px;

        .place-name {
          font-size: 14px;
          font-weight: bold;
        }

        .goto-kakaomap {
          font-size: 10px;
          color: gray;

          &:hover {
            text-decoration: underline;
          }
        }
      }

      button {
        margin-left: 10px;
        padding: 0;
        background: none;
        font-size: 14px;
        cursor: pointer;
        position: relative;
        top: -5px;
      }
    }
  }

  #map-search-form {
    margin-top: 20px;

    input {
      width: 250px;
    }
  }
}

// 구글 검색
.search {
  .search-form {
    width: 60%;

    &:first-child {
      margin-bottom: 15px;
    }

    input {
      width: 100%;
      padding: 15px;
      padding-bottom: 14px;
    }
  }
}

// 유튜브
.youtube {
  .youtube-container {
    width: 80%;
    #youtube-iframe-wrapper {
      position: relative;
      width: 100%;
      height: 0;
      padding-bottom: 56.25%;
      iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
      }
    }
    #youtube-url-form {
      width: 100%;
      margin-top: 20px;
      input {
        width: 100%;
        padding: 15px;
        padding-bottom: 14px;
      }
    }
  }
}

// 투두리스트
.todo {
  #todo-list {
    width: 90%;
    height: 500px;
    overflow-y: auto;
    padding: 5%;
    background: var(--opaque);
    border-radius: 20px;
    display: flex;
    flex-direction: column;

    &::-webkit-scrollbar {
      display: none;
    }

    li {
      display: flex;
      align-items: center;
      padding: 15px 20px;
      background: var(--opaque);
      border-radius: 20px;
      font-size: 14px;
      color: #333;
      cursor: move;

      &:not(:last-child) {
        margin-bottom: 10px;
      }

      .todo-text {
        flex: 1;
        margin: 0 10px;
        text-decoration: none;
        word-break: break-word;
        position: relative;
        top: 1px;
      }

      i {
        cursor: pointer;
      }

      &.checked {
        color: #888;

        .todo-text {
          text-decoration: line-through;
        }
      }

      &.dragging {
        opacity: 0.5;
        border: var(--outline);
      }
    }
  }
  #todo-form {
    width: 90%;
    margin-top: 20px;
    input {
      width: 100%;
      padding: 15px;
      padding-bottom: 14px;
    }
  }
}

.bg-btns {
  position: absolute;
  top: 0px;
  right: -41px;
  display: flex;
  flex-direction: column;

  span {
    writing-mode: vertical-lr;
    text-orientation: upright;
  }

  .bg-btn {
    letter-spacing: 5px;
    padding: 10px;
    background: var(--opaque);
    backdrop-filter: blur(10px);
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    cursor: pointer;
  }
}

#fortune-cookie {
  position: fixed;
  bottom: 16px;
  right: 16px;
  background: none;
  cursor: pointer;

  img {
    width: 64px;
    height: 64px;
  }
}

#fortune-msg {
  position: fixed;
  bottom: 32px;
  right: 96px;
  margin-left: 16px;
  text-align: right;
  line-height: 1.2;
}

#exit-btn {
  position: fixed;
  top: -13px;
  right: 30px;
  background: none;
  cursor: pointer;

  &:focus-within {
    outline: var(--outline);
  }
}
