@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");
@font-face {
  font-family: "GmarketSansMedium";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "establishRetrosansOTF";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2112@1.0/establishRetrosansOTF.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "DungGeunMo";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/DungGeunMo.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

.hidden {
  display: none;
}

* {
  box-sizing: border-box;
}

body {
  width: 100%;
  min-width: 1920px;
  height: 100vh;
  min-height: 1080px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("img/bg_cloud.jpg");
  background-size: cover;
  font-family: "GmarketSansMedium";
}

input {
  font-family: "GmarketSansMedium";
  font-size: 15px;
  text-align: center;
}

input:focus {
  background-color: white !important;
  border: none;
  outline: 7px solid gold !important;
}
input:focus::placeholder {
  color: transparent;
}
input::placeholder,
input::-webkit-input-placeholder {
  font-family: "GmarketSansMedium";
  font-size: 15px;
  text-align: center;
}

button {
  font-family: "GmarketSansMedium";
}

main {
  width: 70%;
  height: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  border-radius: 20px;
  border-top-right-radius: 0px;
  box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
  background-color: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(10px);

  // Clock, Weather
  header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: -35px;
    padding: 0px 25px;
    font-family: "DungGeunMo";
    font-size: 25px;
    div {
      display: flex;
      align-items: flex-end;
      img {
        margin: 0px 10px;
      }
    }
  }

  // Contents
  .wrap {
    width: 97%;
    height: 95%;
    display: grid;
    grid-template-columns: 0.9fr 2fr 1fr;
    grid-template-rows: 3.8fr 6.2fr;

    // 프로필 (사진, 닉네임)
    section.profile {
      grid-column: 1 / 2;
      grid-row: 1 / 2;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      .profile-thumbnail {
        width: 120px;
        height: 120px;
        position: relative;
        margin-bottom: 10px;
        img {
          width: 120px;
          height: 120px;
          border-radius: 50%;
        }
        input {
          display: none;
        }
        i {
          position: absolute;
          bottom: 0;
          right: 0;
          padding: 10px;
          border-radius: 50%;
          background-color: rgba(255, 255, 255, 0.5);
          font-size: 13px;
          cursor: pointer;
        }
      }
      #nickname-form {
        width: 120px;
        input#nickname-input {
          width: inherit;
          padding: 10px;
          padding-bottom: 5px;
          border: none;
          background-color: rgba(255, 255, 255, 0.3);
          border-radius: 20px;
        }
        input#nickname-input:focus {
          outline: none;
        }
        ::placeholder {
          font-family: "GmarketSansMedium";

          text-align: center;
        }
      }
      h1#nickname-display {
        margin-top: 15px;
      }
    }
    // 지도 (현재 위치, 키워드 검색)
    section.searchmap {
      grid-column: 1 / 2;
      grid-row: 2 / -1;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      #map {
        width: 250px;
        height: 250px;
        border-radius: 20px;
        background-color: rgba(255, 255, 255, 0.5);
      }
      #searchmap-form {
        margin-top: 20px;
        input[type="text"] {
          width: 220px;
          padding: 10px;
          padding-bottom: 5px;
          border: none;
          background-color: rgba(255, 255, 255, 0.3);
          border-radius: 20px;
        }
        input[type="text"]:focus {
          outline: none;
        }
        ::placeholder {
          font-family: "GmarketSansMedium";

          text-align: center;
        }
      }
    }
    section.google {
      width: 100%;
      height: 100%;
      grid-column: 2 / 3;
      grid-row: 1 / 2;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      #google-form {
        width: 80%;
        height: 30%;
        input[type="text"] {
          width: 100%;
          height: 100%;
          padding: 30px;
          border: none;
          border-radius: 20px;
          background-color: rgba(255, 255, 255, 0.3);
          font-size: 20px;
        }
        input[type="text"]:focus {
          outline: none;
        }
        ::placeholder {
          font-family: "GmarketSansMedium";

          font-size: 20px;
          text-align: center;
        }
      }
    }
    section.youtube {
      width: 100%;
      height: 85%;
      grid-column: 2 / 3;
      grid-row: 2 / -1;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      .youtube-box {
        position: relative;
        width: 80%;
        padding-bottom: 56.25%;
        height: 0;
      }
      .youtube-box iframe,
      .youtube-box object,
      .youtube-box embed {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
      }
    }
    section.todo {
      width: 100%;
      height: 100%;
      grid-column: 3 / -1;
      grid-row: 1 / -1;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      #todo-form {
        width: 90%;
        height: 50px;
        margin-top: 20px;
        input[type="text"] {
          width: 100%;
          height: 100%;
          border: none;
          border-radius: 20px;
          background-color: rgba(255, 255, 255, 0.3);
          font-size: 15px;
        }
        input[type="text"]:focus {
          outline: none;
        }
        ::placeholder {
          font-family: "GmarketSansMedium";
          font-size: 15px;
          text-align: center;
        }
      }
      ul#todo-list {
        width: 90%;
        height: 80%;
        padding: 7% 5%;
        overflow-y: auto;
        border-radius: 20px;
        background-color: rgba(255, 255, 255, 0.3);
        li {
          height: 50px;
          display: flex;
          justify-content: space-between;
          margin-bottom: 15px;
          padding: 18px;
          border-radius: 20px;
          background-color: rgba(255, 255, 255, 0.5);
          font-size: 14px;
          cursor: pointer;
        }
      }
      ::-webkit-scrollbar {
        display: none;
      }
    }
  }

  // Background Cange Btn
  .background {
    position: absolute;
    top: 0px;
    right: -38px;
    padding: 10px;
    border: none;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: white;
    letter-spacing: 5px;
    z-index: -1;
    cursor: pointer;
    span {
      writing-mode: vertical-lr;
      text-orientation: upright;
    }
  }
  #bg-cloudBtn {
    top: 117.66px;
    background-color: #1c7ab7;
    color: white;
  }
}

#exit {
  position: fixed;
  top: -13px;
  right: 5%;
  border: none;
  background: none;
  cursor: pointer;
}

#fortune {
  width: 100px;
  height: 100px;
  position: fixed;
  bottom: 5%;
  right: 5%;
  border: none;
  background: none;
  cursor: pointer;
  button:focus {
    outline: none;
  }
  img {
    width: 100px;
    height: 100px;
  }
}
#openMsg {
  position: fixed;
  bottom: calc(5% + 20px);
  right: calc(5% + 100px);
  text-align: right;
}
